@page "/membership"

<PageTitle>xYX Group</PageTitle>

<h1>Become a member of xYX Group today! Every member receives:</h1>
    <ul>
    <li>FREE admission for one year</li>
    <li>And more!</li>
    </ul>   
  

@code {
     
}
